body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, #6a1b9a, #8e24aa);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-card {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.login-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 30px;
  position: relative;
}

.form-label {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 20px;
  opacity: 0.7;
  transition: 0.3s ease;
}

.form-input {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #cdcdcd;
  color: #fff;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.form-input:focus {
  outline: none;
  background-color: #6200ea;
  border-radius: 8px;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  top: -10px;
  left: 20px;
  font-size: 0.9rem;
  opacity: 1;
  color: #fff;
}

.login-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://source.unsplash.com/1600x900/?abstract') no-repeat center center;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

hr {
  border: 0;
  border-top: 1px solid #fff;
  margin-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
