.page-title {
  text-align: center;
  font-size: 2rem;
  color: #A9A9A9;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* Titles at the top */
.topTitles {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 2rem;
}

.left-title, .right-title {
  width: 48%;
  text-align: center;
}

.left-title h2, .right-title h2 {
  font-size: 1.5rem;
  color: #A9A9A9;
  font-weight: 500;
}

.whole-page {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 2rem;
}

.container, .right-container {
  width: 48%;
  padding: 1.5rem;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 1.5rem;
  border-right: 1px solid #ddd;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #ddd;
  padding: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center
}

.item {
  width: 48%;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 1rem;
}

.item-image {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.item-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #A9A9A9;
  margin-bottom: 10px;
}

.item p {
  font-size: 1rem;
  color: #A9A9A9;
  margin-bottom: 8px;
}

.active {
  box-shadow: 0 4px 8px rgba(51, 217, 24, 0.6);
}

.right-container h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #A9A9A9;
  margin-bottom: 1rem;
  text-align: center;
}

.right-container p {
  font-size: 1.1rem;
  color: #A9A9A9;
  text-align: center;
}

@media (max-width: 768px) {
  .whole-page {
    flex-direction: column;
  }

  .container, .right-container {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .item {
    width: 100%;
  }
}
