.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 50px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #6a5acd;
  color: white;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #483d8b;
}

.find-user-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-card {
  background-color: #A9A9A9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.user-details {
  text-align: left;
}

.username {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.detail {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.userFound-membershipLevel,
.userFound-rating,
.userFound-role,
.userFound-status {
  font-size: 14px;
  color: #333333;
  margin: 8px 0;
  line-height: 1.5;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease;
  font-weight: bold;
  text-align: center;
}
