.memberships-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.membership-item {
  border: 1px solid #A9A9A9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.membership-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.membership-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #A9A9A9;
}

.membership-price {
  font-size: 1.1rem;
  color: #A9A9A9;
  font-weight: bold;
}

.membership-details {
  margin-bottom: 15px;
}

.membership-details p {
  font-size: 1rem;
  color: #A9A9A9;
  margin: 5px 0;
}

.membership-manager {
  display: block;
  margin-top: 10px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.membership-separator {
  border: 0;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.no-memberships-message {
  font-size: 16px;
  color: #999;
  text-align: center;
  margin-top: 40px;
}
